{% block footer %}
    <footer>
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="mb-4">
                        <h5 class="mb-3">Just Magna</h5>
                        <p class="mb-0">Il cibo di fiducia. Qualità garantita e spedizione veloce in tutto il quartiere.</p>
                    </div>
                    <div class="mt-4">
                        <h6 class="mb-3">Newsletter</h6>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="La tua email">
                            <button class="btn btn-primary" style="border-radius: 0 20px 20px 0;">Iscriviti</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="mb-3">Link Utili</h5>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <a href="#" class="footer-link">Chi Siamo</a>
                                </li>
                                <li class="mb-2">
                                    <a href="{% url 'contact' %}" class="footer-link">Contattaci</a>
                                </li>
                                <li class="mb-2">
                                    <a href="#" class="footer-link">Spedizioni</a>
                                </li>
                                {% comment %} <li class="mb-2"><a href="#" class="footer-link">Resi</a></li> {% endcomment %}
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <a href="#" class="footer-link">FAQ</a>
                                </li>
                                <li class="mb-2">
                                    <a href="#" class="footer-link">Privacy</a>
                                </li>
                                <li class="mb-2">
                                    <a href="#" class="footer-link">Contatti</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% comment %} LE PORTATE STANNO QUI ALEEEEE, NON TI ROVINARE LA VISTA {% endcomment %}
                    <h5 class="mb-3">Le Nostre Portate</h5>
                    {% for course in courses_list %}
                        <li class="mb-2">
                            <a href="">{{ course.title }}</a>
                        </li>
                    {% endfor %}
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="mb-4">Seguici</h5>
                    <p class="mb-0">Resta aggiornato sulle ultime novità e piatti deliziosi</p>
                    <div class="d-flex gap-3">
                        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <hr class="my-5 footer-border">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start" style="color: #888">
                    <small>&copy; 2025 Just Magna. Tutti i diritti riservati.</small>
                </div>
                <div class="col-md-6 text-center text-md-end mt-3 mt-md-0">
                    {% comment %} <img src="./images/payment-methods.png"
      alt="Metodi di pagamento"
      height="24"> {% endcomment %}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
