{% block navbar %}
    {% load static %}
    <!-- Image and text -->
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href={% url 'home' %}>
                <img class="logo" src="{% static 'dishes/logo.png' %}"
                     alt=""
                     width="60"
                     height="44"
                >
            </a>
            <p class="nav-item">
                <a class="nav-link" href="{% url 'ingredient-list' %}">Amministrazione</a>
            </p>
        </div>
    </nav>
{% endblock %}
