{% block navbar %}
    {% load static %}
    <nav class="navbar">
        <div class="container-fluid">
            {% comment %} {% include 'partials/sidebar.html' %}  SIDEBAR {% endcomment %}
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="logo"
                     src="{% static 'dishes/logo.png' %}"
                     alt="Logo"
                     width="60"
                     height="44">
            </a>
            <div class="admin-link">
                <a class="nav-link" href="{% url 'ingredient-list' %}">Amministrazione Ingredienti</a>
            </div>
            <div class="admin-link">
                <a class="nav-link" href="{% url 'dish-list' %}">Amministrazione Piatti</a>
            </div>
            <div class="admin-link">
                <a class="nav-link" href="{% url 'survey' %}">La tua Opinione</a>
            </div>
            <div class="admin-link">
                <a class="nav-link" href="{% url 'contact' %}">Contattaci</a>
            </div>
            <div class="login-logout">
                {% if user.is_authenticated %}
                    <div class="d-flex align-items-center gap-2 ms-auto">
                        <span class="navbar-text me-2">Ciao, {{ user.username }}!</span>
                        <a href="{% url 'password_change' %}">Cambia Password</a>
                        <form action="{% url 'logout' %}" method="post" class="nopadding">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary ">Logout</button>
                        </form>
                    </div>
                {% else %}
                    <span class="navbar-text me-2">Non sei loggato, vergognati</span>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Log In</a>
                {% endif %}
            </div>
            <a href="{% url 'cart_list' %}" class="nav-link position-relative">
                <i class="bi bi-cart">Cart</i>
                {% if cart_item_count %}<span class="badge">({{ cart_item_count }})</span>{% endif %}
            </a>
        </div>
    </nav>
{% endblock %}
