{% extends "base.html" %}
{% block title %}Cart List{% endblock %}
{% block content %}
    {% if cart_items %}
        <div class="container mt-4">
            <h1 class="display-2 text-center text-primary">Carrello</h1>
        </div>
        <div class="container mt-4">
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="d-flex align-items-center border-bottom py-2">
                        <img src="{{ item.dish.image.url }}"
                             alt="{{ item.dish.name }}"
                             width="250"
                             class="img-fluid rounded object-fit-cover me-3">
                        <div class="flex-grow-1">
                            <strong>{{ item.dish.name }}</strong>
                            <div class="text-start">
                                <form method="post"
                                      action="{% url 'quantity_edit' item.pk %}"
                                      class="mini-form-quantity">
                                    {% csrf_token %}
                                    {{ item.get_update_quantity_form.as_p }}
                                    <button type="submit" class="btn btn-primary me-auto">
                                        <i class="fas fa-shopping-cart me-2"></i> Aggiorna
                                    </button>
                                </form>
                            </div>
                            <p class="text-end">{{ item.quantity }} x {{ item.dish.price }} €</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center text-muted mt-3">Il carrello è vuoto, caccia li sordi!</p>
            {% endif %}
            <br>
            <a href="{% url 'shipping' %}" class="btn btn-primary btn-sm">Acquista</a>
            <div class="text-end">Totale: {{ cart.cart_total }} €</div>
            <br>
        </div>
    {% endif %}
{% endblock %}
