{% extends "base.html" %}
{% block content %}
    <div class= "ingredienti-header">
        <h1>Ingredienti Registrati</h1>
        <p>Lista di tutti gli ingredienti registrati a sistema</p>
    </div>
    <div class="add-button">
        <button class="button-ingredient-add">
            <a href="{% url 'ingredient-create' %}">Aggiungi</a>
        </button>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome Ingrediente</th>
                <th scope="col">Gluten Free</th>
                <th scope="col">Vegetariano</th>
                <th scope="col">Vegano</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in object_list %}
                {% include "catalog/partials/ingredient_row.html" with ingredient=ingredient %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
